# Web framework
fastapi==0.116.1
uvicorn==0.35.0
python-multipart==0.0.20
pydantic==2.9.2

# Core ML + audio
torch==2.4.1
torchaudio==2.4.1
numpy==1.26.4
soundfile==0.12.1
ffmpeg-python==0.2.0
noisereduce==3.0.2

# ASR & separation
openai-whisper==20240930
demucs==4.0.1
pyannote.audio==3.1.1

# Utils
requests==2.32.3
